.blocklyToolbox {
    background-color: #222222;
    color: white;
    padding-left: 5px;
}

.blocklyPassiveFocus:focus-visible {
    outline: none;
}

.blocklyToolboxCategory {
    line-height: 30px;
    height: 30px;
}

.blocklySvg {
    background-color: #1E1E1E;
}

.blocklyFlyoutBackground {
    fill: #252525;
}

.blocklyWidgetDiv .blocklyMenu {
    /* overflow: hidden; */
}

.blocklyMainBackground {
    stroke-width: 0;
}

.blocklyScrollbarHandle {
    fill: #333;
}